<div class="modal-body">
  <div>
    <div>
      <input type="radio" id="generated_avatar" name="avatar" value="0" {{action useGeneratedAvatar}}>
      <label class="radio" for="generated_avatar">{{avatar controller imageSize="large" template="avatars.generated"}} {{{i18n user.change_avatar.generated}}} {{username}}</label>
    </div>
    <div>
      <input type="radio" id="gravatar" name="avatar" value="1" {{action useGravatar}}>
      <label class="radio" for="gravatar">
        {{#if avatars.gravatar.local}}
          {{avatar controller imageSize="large" template="avatars.gravatar.local"}}
          {{{i18n user.change_avatar.gravatar.local}}}
        {{else}}
          {{avatar controller imageSize="large" template="avatars.gravatar.external"}}
          {{{i18n user.change_avatar.gravatar.external}}}
        {{/if}}
        &nbsp;{{email}}
      </label>
      <button class="btn" title="{{i18n user.change_avatar.gravatar_update.title}}" {{action updateLocalGravatar}}><i class="fa fa-download"></i>{{i18n user.change_avatar.gravatar_update.text}}</button>
    </div>
    {{#if allowAvatarUpload}}
      <div>
        <input type="radio" id="uploaded_avatar" name="avatar" value="2" {{action useUploadedAvatar}}>
        <label class="radio" for="uploaded_avatar">
          {{#if avatars.uploaded}}
            {{boundAvatar controller imageSize="large" template="avatars.uploaded"}} {{i18n user.change_avatar.uploaded_avatar}}
          {{else}}
            {{i18n user.change_avatar.uploaded_avatar_empty}}
          {{/if}}
        </label>
        <button id="fake-avatar-input" class="btn" {{bind-attr disabled="view.uploading"}} title="{{i18n user.change_avatar.upload_title}}">
          <i class="fa fa-picture-o"></i>{{view.uploadButtonText}}
        </button>
        <input type="file" id="avatar-input" accept="image/*" style="display:none">
        {{#if view.uploading}}
          <span>{{i18n upload_selector.uploading}} {{view.uploadProgress}}%</span>
        {{/if}}
        {{#if view.imageIsNotASquare}}
          <div class="warning">{{i18n user.change_avatar.image_is_not_a_square}}</div>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>

<div class="modal-footer">
  <button class="btn btn-primary" {{action saveAvatarSelection}}>{{i18n save}}</button>
  <a {{action closeModal}}>{{i18n cancel}}</a>
</div>
